# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore Python virtual environment and cache
venv/
__pycache__/
*.pyc

# Ignore IDE and OS files
.idea/
.vscode/
*.DS_Store
